@model NumRot2.Models.personas

@{
    ViewBag.Title = "Eliminar Registro";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-danger text-white">
            <h2 class="mb-0">Eliminar Registro</h2>
        </div>
        <div class="card-body">
            <h3 class="text-danger">¿Está seguro de que desea eliminar este registro?</h3>
            <div>
                <h4 class="text-secondary">Detalles de Persona</h4>
                <hr class="mb-4" />
                <dl class="row">
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.numero_cedula)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.numero_cedula)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.primer_nombre)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.primer_nombre)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.segundo_nombre)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.segundo_nombre)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.primer_apellido)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.primer_apellido)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.segundo_apellido)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.segundo_apellido)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.telefono)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.telefono)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.correo)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.correo)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.direccion)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.direccion)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.edad)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.edad)
                    </dd>

                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.genero)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.genero)
                    </dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions">
                        <button type="submit" class="btn btn-danger shadow-sm">Eliminar</button>
                        <a href="@Url.Action("Index", "personas")" class="btn btn-secondary shadow-sm ml-2">Volver a la lista</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
